<!DOCTYPE html>
<html>
<head><title>Confirmation</title></head>
<body>
<h1>Reservation Confirmed</h1>
<ul>
  <li>Name: {{ reservation.customer_name }}</li>
  <li>Guests: {{ reservation.num_guests }}</li>
  <li>Table: {{ reservation.table.table_number }} ({{ reservation.table.capacity }} seats)</li>
  <li>Time: {{ reservation.reservation_time }}</li>
  <li>Status: {{ reservation.get_status_display }}</li>
</ul>
<a href="{% url 'reservation-list' %}">View Reservations</a> |
<a href="{% url 'home' %}">Home</a>
</body>
</html>
